# Copy this file to `.airflow-app.env` and fill in the values you need locally.
# `make apply-airflow-secrets` creates Secret `airflow-app-secrets` in namespace `airflow`.

# Expected secrets for gitsync. Only required repo is not public and/or needs authentication
# GIT_SYNC_USERNAME=
# GIT_SYNC_PASSWORD=

# SQLAlchemy-style connection URI
connection=postgresql://USER:PASS@HOSTNAME:5432/airflow

# https://airflow.apache.org/docs/apache-airflow/2.3.4/security/secrets/fernet.html#generating-fernet-key
fernet-key=REPLACE-ME

# https://airflow.apache.org/docs/helm-chart/stable/production-guide.html#api-secret-key
api-secret-key=REPLACE-ME
